doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    block content
  footer
    p © #{new Date().getFullYear()} Carsome